<div *ngIf="cartItems">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.name }}</td>
        <td>{{item.quantity}}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.price * item.quantity }}</td>
      
      
      </tr>
    </tbody>
  </table>
  <div>
    <p>Total Items: {{ cartItems.length }}</p>
   
    <button type="button" class="btn btn-success mr-3" (click)="Oncheckout(cartId[0])">Checkout</button>
  </div>
</div>
