.container {
  max-width: 100%;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.products div {
  margin: 1rem;
  padding: 1rem;
  
  cursor: pointer;
  width: calc(33.33% - 2rem);
  box-sizing: border-box;
}

.products div:hover {
  border-color: #aaa;
}

.products img {
 
  height: 300px; 
  width:300px
}

.products h2 {
  margin: 0;
  font-size: 1.2rem;
  
}

.products p {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0.5rem 0;
}

.price {
  font-weight: bold;
  font-weight: 400;
}