






<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <br>
      <div class="card-header">
        <h2 class="text-center">Products</h2>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Search Products..." (keyup)="filterProducts($event.target.value)">
      </div> 
    
      <div class="products" *ngIf="filteredProducts">
     
        <div *ngFor="let product of filteredProducts" (click)="getProductDetails(product.id)">
      
          <img [src]="createImgPath(product.imageUrl)" [alt]="product.name"><br><br>
          <h2>{{ product.name }}</h2>
          <b>{{ product.price | currency:currencySymbol }}</b>
          <span *ngIf="product.stockQuantity === 0" class="badge badge-danger">Out of stock</span>
        </div>
        
      </div>
      <div class="loading" *ngIf="!filteredProducts">
        <p>Loading product...</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage == 1">
                <a class="page-link" (click)="setCurrentPage(currentPage - 1)">Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page == currentPage">
                <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage == totalPages">
                <a class="page-link" (click)="setCurrentPage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  </div>
</div>
