<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Register as a Seller</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
          <div *ngIf="registrationForm.get('firstName').errors?.required && registrationForm.get('firstName').touched">
            First Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
          <div *ngIf="registrationForm.get('lastName').errors?.required && registrationForm.get('lastName').touched">
            Last Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="businessName">Business Name:</label>
          <input type="text" class="form-control" id="businessName" formControlName="businessName">
          <div *ngIf="registrationForm.get('businessName').errors?.required && registrationForm.get('businessName').touched">
            Business Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" formControlName="username">
          <div *ngIf="registrationForm.get('username').errors?.required && registrationForm.get('username').touched">
            Username is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
          <div *ngIf="registrationForm.get('email').errors?.required && registrationForm.get('email').touched">
            Email is required
          </div>
          <div *ngIf="registrationForm.get('email').errors?.email && registrationForm.get('email').touched">
            Email is invalid
          </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneHelp" formControlName="phoneNumber">
            <div *ngIf="registrationForm.get('phoneNumber').errors?.required && registrationForm.get('phoneNumber').touched">
              Phone is required
            </div>
            <div *ngIf="registrationForm.get('phoneNumber').errors?.email && registrationForm.get('phoneNumber').touched">
              Phone is invalid
            </div>
          </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="registrationForm.hasError('mismatch')">Passwords do not match</div> 
          </div>
       
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Register</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">{{ loginMessage }}</div>
  </div>