.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody+tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table .shipping-method {
    position: relative;
  }
  
  .table .shipping-method::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #f00;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    25% {
      opacity: 1;
      transform: scale(2);
    }
    50% {
      opacity: 0;
      transform: scale(1);
    }
    75% {
      opacity: 1;
      transform: scale(2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  
}