<div class="container">
    <div class="row">
      <div class="col">
        <app-seller-menu></app-seller-menu>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  
    <!-- <div class="row">
      <div class="col">
        <app-seller-dashboard></app-seller-dashboard>
      </div>
    </div> -->
  
    <div class="row">
      <div class="col">
        <app-seller-footer></app-seller-footer>
      </div>
    </div>
  </div>
  