em{
    color: #e71515;
    font-weight: bold;
  }
  .ng-invalid.ng-touched{ 
   border-color: red; 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
