<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ product?.name }}</h5>
          <hr>
          <p class="card-text">{{ product?.description }}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Product Details</h5>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">Price:</p>
              <p class="card-text">{{ product?.price | currency:'USD' }}</p>
            </div>
            <div class="col-md-6">
              <p class="font-weight-bold">Stock Quantity:</p>
              <p class="card-text">{{ product?.stockQuantity }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">Brand:</p>
              <p class="card-text">{{ product?.brand }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">Category:</p>
              <p>
               
                <a [routerLink]="['/owner/category', product.categoryId]">{{ product.categoryName }}</a>
              </p>
            </div>
          </div>
           <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">Vendor:</p>
              <p>
                <a href="">{{ product.businessName }}</a>
              </p>
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="row justify-content-center">
        <a routerLink="/owner/products" class="btn btn-secondary">Back to Products</a>
      </div>
    </div>
  </div>
</div>